

  .form.ui.form {
    width: 75%;
    margin: auto;
    height: 15%;
    margin-top: 2vh;
    position: relative;
    /*z-index: 500;*/
}

.searchForm {

}



/*.right {
  float: left;
  width: calc(100% - 347px);
  margin-top: 2vh;
  margin-left: 347px;
  height: 85vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 800;
}*/

.rightPanel {
  float: left;
  margin-left: 347px;
  width: calc(100% - 347px);
  margin-top: 2vh;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 800;

}



.videoPlayButton {
  bottom: 0px !important;
  position: absolute;
  right: 0px;
  margin-bottom: 70px !important;
  margin-right: 116px !important;
  background-color: rgba(0,0,0,0) !important;
}

.videoPlayer {
  margin-top: 2em;
  height: 360px;
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20vh;
}



.libraryName.ui.header:first-child {
    height: 5%;
    width: 340px;
    text-align: center;
    align-items: center;
    font-size: 2em;
}

.videoList {
    height: 70%;
    width: 340px;
}

.leftPanel  {
    float: left;
    width: 340px;
    height: 88vh;
    margin-left: 0.5em;
    margin-top: 12vh;
    position: fixed; 
  }

button.ui.fade.animated.button {
    height: 5% ;
    width: 340px ;
    align-items: center ;
    margin: 0 auto ;
}

.rootLeft {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: hidden;
    float: left;
    height: 88%;
  }

.rootRight {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: hidden;
  height: 86%;
  margin: auto;
  position: relative;
  z-index: 400;

}

  .gridListLeft {
    width: 340px;
    height: 100%;
    float: left;
  }

  ul.MuiGridList-root.gridListLeft {
    display: block;
  }

  .gridListRight {
    width: 490px;
    height: 100%;
    float: left;
    position: relative;
    z-index: 100;
  }

  .gridTileRight {
    width: 480px;
    scroll-margin-right: 30px;
    position: relative;
    z-index: 1;
  }

  .gridTileLeft {
    width: 320px ;
    scroll-margin-right: 30px;
    margin-top: 10px;
    height: 180px;
  }

  .react-player__preview {
    /* Custom thumnail here with !important */
}

.reactPlayer {
    /*margin-left: auto;
    margin-right: auto;*/
    /*margin-top: 12vh;*/
}

.medium {
    width: 320px;
    height: 180px; /* Custom thumbnails here*/
    transform: translateY(0%) !important;

}

.myCenterTriangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 17px;
  border-color: transparent transparent transparent #ffffff;
  bottom: 0px !important;
  position: absolute;
  right: 0px;
  margin-bottom: 92px !important;
  margin-right: 149px !important;
}

.high {
    width: 480px;
    height: 360px; /* Custom thumbnails here*/
}

.videoContainer {
    width: 960px;
    height: 577px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

.MuiGridListTileBar-title {

}

.MuiGridListTileBar-subtitle {
    font-size: 1rem !important;
    line-height: 24px !important;
}


.editPopup {
  bottom: 0 !important;
  right: 0 !important;
  position: absolute !important;
  margin-bottom: 135px !important;
  background-color: white;
}

.popupContainer {
  bottom: 0 !important;
  right: 0;
  position: absolute;
  margin-bottom: 10px !important;
  background-color: white;
  width: 2em;
  height: 2em;
}






