.rootLeft {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: hidden;
    float: left;
    height: 88%;
  }

.rootRight {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: hidden;
  float: left;
  height: 88%;
  margin: auto;
}

  .gridListLeft {
    width: 340px;
    height: 100%;
    float: left;
  }

  .gridListRight {
    width: 480px;
    height: 100%;
    float: left;
  }

  .gridTileRight {
    width: 480px;
    scroll-margin-right: 30px;
  }

  .gridTileLeft {
    width: 320px;
    scroll-margin-right: 30px;
    margin-top: 10px;
  }

